/*
  Styles to make answer forms for scripted questions look sensible.
*/

div.tutor-inline div.form-item
{ 
  display: inline;
}

div.tutor-block div.form-item
{ 
  display: block;
}

div.tutor-message
{
  padding: 10px;
  margin: 5px;
  border: thin black solid;
  text-align: center;
}

div.tutor-answer-correct
{
  background-color: lightgreen;
}

div.tutor-answer-close,
div.tutor-answer-incomplete
{
  background-color: lightgoldenrodyellow;
}

div.tutor-answer-wrong,
div.tutor-answer-invalid,
div.tutor-answer-quit
{
  background-color: lightsalmon;
}
